<?xml version="1.0"?>
<!--
      Note: As an alternative to hand editing this file you can use the
      web admin tool to configure settings for your application. Use
      the Website->Asp.Net Configuration option in Visual Studio.
      A full list of settings and comments can be found in
      machine.config.comments usually located in
      \Windows\Microsoft.Net\Framework\v2.x\Config
    -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="debugSMS" value="true"/>
    <add key="SMSProvider" value="PresentIT"/>
    <add key="SMSMaskName" value="IPACSOFTWAR"/>
    <add key="SMSEndPoint" value="http://api.infobip.com/sms/1/text/single"/>
    <add key="SMSAccountName" value="GolfClub"/>
    <add key="CloudServer" value="SOFTMANAGER-PC"/>
    <add key="CloudServerdb" value="GolfClub"/>
    <add key="IsSimulateSMS" value="false"/>
    <add key="ConnectionType" value="SQLSERVER"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="MyCompany" connectionString="Data Source=SOFTMANAGER-PC;Initial Catalog=GolfClub;Persist Security Info=True;User ID=sa;Password=ipac;" providerName="System.Data.SqlClient"/>
    <add name="GalfClub" connectionString="Data Source=SOFTMANAGER-PC;Initial Catalog=GalfClub;Persist Security Info=True;User ID=sa;Password=ipac;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="kabir31bd@gmail.com">
        <network host="smtp.gmail.com" port="587" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" fileEncoding="utf-8"/>
    <!--
        Set compilation debug="true" to insert debugging
        symbols into the compiled page. Because this
        affects performance, set this value to true only
        during development.
        -->
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MyCompany" applicationName="/"/>
      </providers>
    </membership>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="MyCompany" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState regenerateExpiredSessionId="true" mode="Custom" customProvider="ApplicationSessionState">
      <providers>
        <add name="ApplicationSessionState" type="MyCompany.Services.ApplicationSessionState"/>
      </providers>
    </sessionState>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="XmlSiteMapProvider" type="MyCompany.Services.ApplicationSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--Data Aquarium Framework and AjaxControlToolkit references-->
        <add tagPrefix="aquarium" namespace="MyCompany.Web"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
      <!--Data Aquarium Framework handlers-->
      <add verb="*" path="Blob.ashx" validate="false" type="MyCompany.Handlers.Blob"/>
      <add verb="*" path="Theme.ashx" validate="false" type="MyCompany.Handlers.Theme"/>
      <add verb="*" path="Export.ashx" validate="false" type="MyCompany.Handlers.Export"/>
      <add verb="*" path="Import.ashx" validate="false" type="MyCompany.Handlers.Import"/>
      <add verb="*" path="Report.ashx" validate="false" type="MyCompany.Handlers.Report"/>
      <add verb="*" path="ControlHost.aspx" validate="false" type="MyCompany.Web.ControlHost"/>
      <add verb="*" path="ChartHost.aspx" validate="false" type="MyCompany.Web.ChartHost"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <remove name="FormsAuthentication"/>
      <add name="ExportAuthentication" type="MyCompany.Security.ExportAuthenticationModule"/>
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule"/>
    </httpModules>
    <webServices>
      <protocols>
        <remove name="Documentation"/>
      </protocols>
    </webServices>
    <trust level="Full" legacyCasModel="true"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.x.  It is not necessary for previous version of IIS.
      -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication"/>
      <add name="ExportAuthentication" type="MyCompany.Security.ExportAuthenticationModule"/>
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule"/>
    </modules>
    <handlers>
      <add name="All_XML" verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler" resourceType="Unspecified"/>
      <add name="Reserved_ReportViewerWebControl_axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" resourceType="Unspecified"/>
      <!--Data Aquarium Framework handlers-->
      <add name="Blob_ashx" verb="*" path="Blob.ashx" type="MyCompany.Handlers.Blob" resourceType="Unspecified"/>
      <add name="Theme_ashx" verb="*" path="Theme.ashx" type="MyCompany.Handlers.Theme" resourceType="Unspecified"/>
      <add name="Export_ashx" verb="*" path="Export.ashx" type="MyCompany.Handlers.Export" resourceType="Unspecified"/>
      <add name="Import_ashx" verb="*" path="Import.ashx" type="MyCompany.Handlers.Import" resourceType="Unspecified"/>
      <add name="Report_ashx" verb="*" path="Report.ashx" type="MyCompany.Handlers.Report" resourceType="Unspecified"/>
      <add name="ControlHost_ashx" verb="*" path="ControlHost.aspx" type="MyCompany.Web.ControlHost" resourceType="Unspecified"/>
      <add name="ChartHost_ashx" verb="*" path="ChartHost.aspx" type="MyCompany.Web.ChartHost" resourceType="Unspecified"/>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="524288"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="Pages">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Views">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ClubSetup.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,ClubSetup"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberGroup.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,MemberGroup"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberCategory.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,MemberCategory"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberStatus.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,MemberStatus"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberFee.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,MonthlyFee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberInfo.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,MemberRegistration"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/NonMemberRegistration.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,NonMemberRegistration"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/RegisterMemberCard.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,CardRegistrater"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DepositToCard.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,RechargeCard"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberService.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,MemberService"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberStatusChange.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,MemberStatusChange"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Holiday.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Holiday"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberPersonalCaddieBallboy.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,PersonalCaddieBallBoy"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Caddie.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,CaddieBallBoy"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GolfCart.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GolfCart"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Bank.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Bank"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Smsconfig.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,SmsConfig"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Membership.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GameSetup.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GameSetup"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/HoleSetup.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,HoleSetup"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GameFee.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GameFee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GameSchedule.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,FlightCreate"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GameRegistration.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GameRegistration"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberGameReg.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GamePayment"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GameMatch.aspx">
    <system.web>
      <authorization>
        <allow roles="NonDelivery"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GamePlayerGroup.aspx">
    <system.web>
      <authorization>
        <allow roles="nondelivery"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GameMatchScore.aspx">
    <system.web>
      <authorization>
        <allow roles="nondelivery"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/TournamentSetup.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Tournament.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Tournament"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GameCategory.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GameCategory"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/TeeName.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,TeeName"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/TournamentFee.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GameFee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/TournamentFlightSch.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,TournamentFlightSchedule"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GameType.aspx">
    <system.web>
      <authorization>
        <allow roles="NonDelivery"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/TournamentPayment.aspx">
    <system.web>
      <authorization>
        <allow roles="NonDelivery"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/TourRegisterMember.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,TournamentRegistration"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/LockerService.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,LockerService"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Locker.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,LockerCreate"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/LockerBooking.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,LockerBooking"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BillCollection.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,BillCollection"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberBill.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,BillApproval"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MyExternal.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,BillCollection"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CreateServiceDue.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,CreateServiceDue"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberRestBarBill.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,RestaurentDueBills"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BarDueBills.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,BarDueBills"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberBillPrint.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,MemberBillPrint"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Reports.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Reports"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DueStatement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,ReportDueStatement"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/TournamentCollection.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,ReportTournamentCollection"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberBillCollection.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,ReportMemberBillCollection"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberFeeReport.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,ReportMemberFee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Registration.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,ReportDailyRegistration"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GameFlightSchedule.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,ReportDailyRegisteredPlayers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CardRechargeReport.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,ReportCardRecharge"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CardTransactions.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,ReportCardTransaction"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/EmailSMS.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,EmailSMS"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberPanel.aspx">
    <system.web>
      <authorization>
        <allow roles="Members"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberCardTransactions.aspx">
    <system.web>
      <authorization>
        <allow roles="Members"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberBillStatus.aspx">
    <system.web>
      <authorization>
        <allow roles="NonDelivery"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberDailyRegistration.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MemberGameRegistration.aspx">
    <system.web>
      <authorization>
        <allow roles="NonDelivery"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>